In [2]:
import pandas as pd
import numpy as np

In [3]:
# Load the dataset
file_path = r"C:\Users\KARTHIK\Downloads\Titanic DS.xlsx"
titanic_df = pd.read_excel(file_path)

In [4]:
# Display basic summary statistics using the describe method
summary_stats = titanic_df.describe()

In [6]:
# Convert relevant columns to numeric
numeric_columns = titanic_df.select_dtypes(include=[np.number]).columns
titanic_df[numeric_columns] = titanic_df[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [9]:
# Identify columns with mixed data types or non-numeric values
non_numeric_columns = titanic_df.select_dtypes(exclude=[float, int]).columns

In [10]:
# Convert non-numeric columns to numeric, replacing non-numeric values with NaN
titanic_df[non_numeric_columns] = titanic_df[non_numeric_columns].apply(pd.to_numeric, errors='coerce')

In [11]:
# Now, calculate mean values for each column
mean_values = titanic_df.mean()

In [12]:
# Display mean values
print("Mean values for each column:")
print(mean_values)

Mean values for each column:
pclass             2.294882
survived           0.381971
name                    NaN
Unnamed: 3              NaN
sex                     NaN
age               29.881135
sibsp              0.498854
parch              0.385027
ticket        249039.136886
fare              33.295479
embarked                NaN
dtype: float64

In [13]:
# Identify columns with mixed data types or non-numeric values
non_numeric_columns = titanic_df.select_dtypes(exclude=[float, int]).columns

# Convert non-numeric columns to numeric, replacing non-numeric values with NaN
titanic_df[non_numeric_columns] = titanic_df[non_numeric_columns].apply(pd.to_numeric, errors='coerce')

# Calculate median values for each column
median_values = titanic_df.median()

In [14]:
# Display median values
print("Median values for each column:")
print(median_values)

Median values for each column:
pclass             3.0000
survived           0.0000
name                  NaN
Unnamed: 3            NaN
sex                   NaN
age               28.0000
sibsp              0.0000
parch              0.0000
ticket        234604.0000
fare              14.4542
embarked              NaN
dtype: float64

In [15]:
# Identify columns with mixed data types or non-numeric values
non_numeric_columns = titanic_df.select_dtypes(exclude=[float, int]).columns

# Convert non-numeric columns to numeric, replacing non-numeric values with NaN
titanic_df[non_numeric_columns] = titanic_df[non_numeric_columns].apply(pd.to_numeric, errors='coerce')

# Calculate mode values for each column
mode_values = titanic_df.mode().iloc[0]  # Mode may have multiple values, so we take the first one

In [16]:
# Display mode values
print("Mode values for each column:")
print(mode_values)

Mode values for each column:
pclass           3.00
survived         0.00
name              NaN
Unnamed: 3        NaN
sex               NaN
age             24.00
sibsp            0.00
parch            0.00
ticket        1601.00
fare             8.05
embarked          NaN
Name: 0, dtype: float64

In [17]:
# Identify columns with mixed data types or non-numeric values
non_numeric_columns = titanic_df.select_dtypes(exclude=[float, int]).columns

# Convert non-numeric columns to numeric, replacing non-numeric values with NaN
titanic_df[non_numeric_columns] = titanic_df[non_numeric_columns].apply(pd.to_numeric, errors='coerce')

# Calculate standard deviation values for each column
std_dev_values = titanic_df.std()

In [18]:
# Display standard deviation values
print("Standard deviation values for each column:")
print(std_dev_values)

Standard deviation values for each column:
pclass             0.837836
survived           0.486055
name                    NaN
Unnamed: 3              NaN
sex                     NaN
age               14.413500
sibsp              1.041658
parch              0.865560
ticket        442685.317677
fare              51.758668
embarked                NaN
dtype: float64

In [19]:
# Display the calculated summary statistics
summary_stats.loc['mean'] = mean_values
summary_stats.loc['50%'] = median_values
summary_stats.loc['mode'] = mode_values
summary_stats.loc['std'] = std_dev_values

In [20]:
print("Summary Statistics:")
print(summary_stats)

Summary Statistics:
            pclass     survived  Unnamed: 3          age        sibsp  \
count  1309.000000  1309.000000         0.0  1046.000000  1309.000000
mean      2.294882     0.381971         NaN    29.881135     0.498854
std       0.837836     0.486055         NaN    14.413500     1.041658
min       1.000000     0.000000         NaN     0.166700     0.000000
25%       2.000000     0.000000         NaN    21.000000     0.000000
50%       3.000000     0.000000         NaN    28.000000     0.000000
75%       3.000000     1.000000         NaN    39.000000     1.000000
max       3.000000     1.000000         NaN    80.000000     8.000000
mode      3.000000     0.000000         NaN    24.000000     0.000000

             parch         fare
count  1309.000000  1308.000000
mean      0.385027    33.295479
std       0.865560    51.758668
min       0.000000     0.000000
25%       0.000000     7.895800
50%       0.000000    14.454200
75%       0.000000    31.275000
max       9.000000   512.329200
mode      0.000000     8.050000