In [2]:
import pandas as pd
import numpy as np

In [25]:
# Assuming 'Titanic DS.xlsx' is the Excel file
file_path = r"C:\Users\KARTHIK\Downloads\Titanic DS.xlsx"
titanic_df = pd.read_excel(file_path)

# Display the first few rows of the DataFrame
print(titanic_df.head())

   pclass  survived                                             name  \
0       1         1                    Allen, Miss. Elisabeth Walton
1       1         1                   Allison, Master. Hudson Trevor
2       1         0                     Allison, Miss. Helen Loraine
3       1         0             Allison, Mr. Hudson Joshua Creighton
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)

   Unnamed: 3     sex      age  sibsp  parch  ticket      fare embarked
0         NaN  female  29.0000      0      0   24160  211.3375        S
1         NaN    male   0.9167      1      2  113781  151.5500        S
2         NaN  female   2.0000      1      2  113781  151.5500        S
3         NaN    male  30.0000      1      2  113781  151.5500        S
4         NaN  female  25.0000      1      2  113781  151.5500        S

In [39]:
# Display the column names
print("Column names:", titanic_df.columns)

Column names: Index(['pclass', 'survived', 'name', 'Unnamed: 3', 'sex', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'embarked'],
      dtype='object')

In [40]:
# Display the number of missing values in each column
print("Missing values before cleaning:")
print(titanic_df.isnull().sum())

Missing values before cleaning:
pclass           0
survived         0
name             0
Unnamed: 3    1309
sex              0
age            263
sibsp            0
parch            0
ticket           0
fare             1
embarked         2
dtype: int64

In [41]:
# Remove missing values
titanic_df_cleaned = titanic_df.dropna()

In [42]:
# Handling outliers (Example: Identifying outliers in the 'Fare' column)
if 'Fare' in titanic_df_cleaned.columns:
    Q1 = titanic_df_cleaned['Fare'].quantile(0.25)
    Q3 = titanic_df_cleaned['Fare'].quantile(0.75)
    IQR = Q3 - Q1

In [43]:
 # Find outliers using the IQR method
    outliers = titanic_df_cleaned[((titanic_df_cleaned['Fare'] < (Q1 - 1.5 * IQR)) | (titanic_df_cleaned['Fare'] > (Q3 + 1.5 * IQR)))]

IndentationError: unexpected indent (3988816890.py, line 2)

In [44]:
# Display the outliers
    print("\nOutliers in the 'Fare' column:")
    print(outliers)
else:
    print("Column 'Fare' not found in the DataFrame.")

IndentationError: unexpected indent (1848964990.py, line 2)

In [45]:
# Save the cleaned dataset to a new CSV file
titanic_df_cleaned.to_csv('cleaned_titanic.csv', index=False)